* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* #mobile-design {
  margin: auto;
  width: 375px;
  height: 6968px;
} */

a {
  color: #fff;
  text-decoration: none;
}

.navbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c3a39;
}

.logo {
  margin-left: 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  transition-duration: 1s;
}

.logo:hover {
  transform: rotate(5deg);
  background-color: #f4f5f7;
}

.navlinks {
  display: flex;
  display: none;
  gap: 20px;
  padding: 0 100px;
}

.menu {
  display: flex;
  align-self: center;
  align-content: flex-end;
  flex-direction: row;
  justify-self: flex-end;
  color: #fff;
  margin-right: 35px;
}

span {
  font-size: 20px;
  cursor: pointer;
}

.headline {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #1c1a19;
  background-image: url("images/Illustration-header.png");
  background-repeat: no-repeat;
  background-position: 142% 101%;
  background-size: 55%;
  padding: 67px 24px;
}

.headline div {
  display: flex;
  flex-direction: column;
  padding-bottom: 8%;
}

.title {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.headline div p br {
  display: none;
}

.text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

.about {
  padding: 0 0 15% 0;
}

.support-text {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.social-icons {
  height: 40px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.social-icons-2 {
  margin-left: 90px;
  margin-right: 90px;
  width: 50%;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

img {
  margin: 0;
  padding: 0;
}

li {
  margin: 10px 10px 10px 0;
  list-style-type: none;
}

.works-section {
  display: grid;
  align-items: center;
  width: 100%;
  margin-bottom: 120px;
  padding: 0 24px;
}

.works-title {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

.works-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vector-works {
  margin-top: 24px;
  height: 2px;
  border-width: 0;
  color: gray;
  background-color: gray;
}

.works-info-section {
  width: 100%;
}

.multi-post-stories {
  height: 568px;
  display: flex;
  flex-direction: column;
}

.stories-image {
  width: 100%;
  height: 50%;
  margin-top: 0;
}

.multi-post-title {
  margin-top: 24px;
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
}

.multi-post-content {
  margin-top: 12px;
  justify-self: left;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.tags-container {
  display: flex;
  flex-direction: row;
  justify-items: left;
  margin-bottom: 12px;
}

.tags-container .tag-title {
  padding: 0 16px;
  color: #091e42;
  text-decoration: none;
  border: 1px solid #8993a4;
  height: 20px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 12px;
}

.tags-container .tag-title a {
  color: #091e42;
  text-decoration: none;
}

.tag-cards-work-container .tag-title a {
  color: #fff;
  text-decoration: none;
}

.button-see-project {
  padding: 12px;
  height: 48px;
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.07em;
  text-align: center;
  background: #ff6b00;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button-see-project:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.button-see-project:active {
  background: #e05304;
  color: #fff;
}

.works-area-cards {
  width: 100%;
  display: grid;
}

.cards-work-container {
  width: 100%;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  background-image: url("images/4-img-placeholder.png");
  background-size: cover;
}

.cards-work-title {
  margin-top: 84px;
  margin-left: 24px;
  height: 81px;
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  color: #fff;
}

.support-text-cards-work {
  margin-top: 12px;
  margin-left: 24px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #fff;
}

.tag-cards-work-container {
  height: 40px;
  margin-left: 24px;
  margin-top: 12px;
  margin-bottom: 22px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tag-cards-work-container .tag-title {
  padding: 8px;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
}

.button-cards-work {
  padding: 10px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  background-color: #ff6b00;
  border: none;
  color: #fff;
  cursor: pointer;
}

.button-cards-work:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.button-cards-work:active {
  background: #e05304;
  color: #fff;
}

.about-section-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #1c1a19;
  background-image: url("images/illustration-about-me.png");
  background-repeat: no-repeat;
  background-position: 114% 27%;
  background-size: 65%;
}

.about-me-title {
  margin-top: 120px;
  margin-left: 24px;
  font-family: "Crete Round", sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #ff6b00;
}

.support-text-about-me {
  margin: 24px 24px 0 24px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #f4f5f7;
}

.button-about-me {
  height: 48px;
  margin-top: 24px;
  margin-left: 12%;
  padding: 12px;
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.08em;
  text-align: left;
  background: #ff6b00;
  color: #fff;
  border: none;
}

.button-about-me:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.button-about-me:active {
  background: #e05304;
  color: #fff;
}

.vector-about-me {
  margin-left: 24px;
  margin-top: 209px;
  border: 1px solid #fff;
  background-color: #fff;
}

.skill-about-me-container {
  margin-left: 23px;
  margin-right: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  color: #fff;
}

.language-skill {
  margin-top: 128px;
  height: 281px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.frameworks-skill {
  margin-top: 32px;
  height: 336px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.skills-list {
  margin-top: 32px;
  height: 336px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tags-skill {
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 43px;
  text-align: center;
}

.card-skills-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lang-title {
  margin-left: 12px;
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  align-self: center;
  text-align: center;
}

.card-skills-title .icons-skills-rectangle {
  height: 26px;
  align-self: center;
}

.card-skills-title .icons-skills-square {
  height: 20px;
  align-self: center;
  margin-right: 18px;
}

.card-skills-title .icons-skills-circle {
  height: 20px;
  align-self: center;
}

.padding {
  padding: 5% 5%;
}

.submit-button {
  margin-top: 24px;
  margin-left: 90px;
  margin-right: 90px;
  padding: 12px;
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.08em;
  text-align: left;
  background: #ff6b00;
  color: #fff;
  border: none;
}

.Box {
  padding-top: 85px;
}

.submit-button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.submit-button:active {
  background: #e05304;
  color: #fff;
}

.form-container {
  padding: 40px 24px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.input-text {
  padding: 15px;
  border-top: none;
  border-right: none;
  border-left: none;
  font-family: Inter, sans-serif;
  font-size: 15px;
  line-height: 24px;
  display: flex;
}

input:focus {
  outline: none;
}

#message-field {
  height: 17vh;
  font-family: Inter, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  background: #fbf8f7;
  color: #3c3a39;
  border: none;
}

.button {
  display: flex;
  justify-content: center;
}

/* .form-text {
  width: 92%;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}  */

.form-supporting-text {
  font-weight: 700;
  font-size: 40px;
}

.html-forms {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
}

@media (min-width: 468px) {
  .headline {
    background-position: 147% 136%;
    background-size: 49%;
  }
}

@media (min-width: 768px) {
  .headline {
    flex-direction: row-reverse;
    align-items: center;
    padding: 11% 24px;
    gap: 40px;
    background-position: 100% 189%;
  }

  .navlinks {
    display: flex;
  }

  .button-about-me {
    margin-left: 0;
  }

  .social-icons {
    flex-direction: column;
    justify-content: center;
  }

  .Box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 85px;
  }

  .stories-image {
    height: 90%;
    width: 95%;
  }

  .multi-post-title {
    margin: 0;
    height: 10%;
  }

  .menu {
    display: none;
  }

  .works-area-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 10%;
    gap: 2%;
  }

  .form-text {
    width: 38%;
  }

  .language-skill {
    margin-top: 0;
  }

  .works-area-cards-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 10%;
    gap: 2%;
  }

  .skill-about-me-container {
    display: grid;
    align-items: baseline;
    grid-template-columns: repeat(3, 1fr);
  }

  .about-me-title {
    font-family: "Crete Round", sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 0.3700000047683716px;
    text-align: left;
    color: #ff6b00;
    margin: 0;
  }

  .support-text-about-me {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #f4f5f7;
    width: 35%;
    margin: 0;
  }

  .support-text {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-size: 15px;
    color: #fff;
    margin: 0;
    width: 40%;
  }

  .social-icons-2 {
    justify-content: center;
    width: 90%;
    gap: 10px;
  }

  .title {
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    letter-spacing: 0.37px;
    color: #ff6b00;
    margin: 0;
    width: 40%;
  }

  .text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 50px;
    color: #fff5e1;
    margin: 0;
  }

  .form-container {
    display: flex;
    flex-direction: row;
    padding: 73px 140px;
  }

  .padding {
    padding: 10% 10%;
  }

  .about-section-container {
    padding: 75px 135px;
  }
}

@media (min-width: 900px) {
  .title {
    width: 50%;
    font-size: 60px;
  }

  .support-text {
    width: 50%;
  }

  .container {
    width: 50%;
  }

  .works-area-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1100px) {
  .headline {
    background-position: 100% 35%;
    background-size: 30%;
  }

  .about-section-container {
    background-size: 45%;
    background-position-y: 16%;
  }

  .title {
    font-size: 75px;
  }
}
