header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
  box-shadow: 0 1px 8px black;
  background-color: #3e3c3c;
  color: white;
}

#nav {
  margin-right: auto;
  font-size: 1.5em;
}

header a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease 0s;
}

.style {
  font-size: 30px;
  cursor: pointer;
}

.heading {
  margin-left: 20px;
  font-family: 'Crete Round',sans-serif ;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 82px;
  color: #f55800;
  flex: none;
  order: 0;
  flex-grow: 0;
}

h2 {
  margin-left: 20px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 82px;
  color: #f55800;
  flex: none;
  order: 0;
  flex-grow: 0;
}

h4 {
  margin-left: 20px;
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  flex: none;
  order: 1;
}

p {
  margin-left: 20px;
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
  color: #f4f5f7;
  flex: none;
  order: 2;
  margin-right: 600px;
}

.banner {
  width: 1440px;
  height: 870px;
  background: #1c1a19;   
}

.icon {
  height: 50px;
}
